.nav{
    background-color: blue;
    color: White;
    padding: 10px 20px;
 
   
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b{
    color: White;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
   
}
.c{
    color: White;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}
.b:hover{
    background-color: blueviolet;
}
.inputField{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.inputField input{
    width: 50%;
    padding: 12px;
    font-size: 15px;
    border: solid 3px blue;
    border-radius: 20px;
    color: blue;
}
.body{
    background-color: #61dafb;
}
.btn1{
   margin:10px 45%;
   padding: 10px 30px;
   background-color: blue;
   color: white;
   border: none;
   border-radius: 20px;
}
.btn1:hover{
    background-color: blueviolet;
}
hr{
    width: 75%;
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}
.component-part{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.total{
    text-align: center;
}
.r{
    color: red;
}
.icon{
    display: none;
}
.c{
    display: none;
}
@media screen and (max-width: 900px) {
    .cards{
        display: grid;
    grid-template-columns: repeat(1 ,1fr); 
    }
    .component-part{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .body{
        width: 100%;
    }
    .b{
        display: none;
    }
    .btn1{
        margin:5px 40%; 
    }
    .c{
        display: block;
    }
  }
  